@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  padding: 11.25px 10.3px 10.3px 11.25px;
  border-radius: 72.48px;
  background-color: #333230;
  position: relative;
  cursor: pointer;
}
.theme svg {
  position: relative;
  z-index: 1;
}
.theme svg path {
  transition: fill 0.3s;
}
.theme::before {
  content: "";
  position: absolute;
  background-color: #D7B27B;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  left: 0;
  transition: left 0.3s;
}
.theme.active svg:nth-of-type(1) path {
  fill: #5a5955;
}
.theme.active svg:nth-of-type(2) path {
  fill: #fff;
}
.theme.active::before {
  left: calc(100% - 40px);
}

:root {
  --font-family: "Open Sans";
}

body {
  font-family: var(--font-family);
  background-color: #1F1E1C;
  overflow-x: hidden;
}
@media (prefers-scolor-scheme: dark) {
  body {
    background-color: #1F1E1C;
  }
}
body.dark {
  background-color: #1F1E1C;
}

.animated-header {
  padding-block: 8px;
  background-color: #333230;
  width: 100%;
  display: flex;
}
.animated-header .row {
  -webkit-animation: text 120s infinite linear;
          animation: text 120s infinite linear;
  display: flex;
}
.animated-header .row .text {
  display: flex;
  gap: 5px;
  padding-left: 30px;
  white-space: nowrap;
}
@-webkit-keyframes text {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-160%, 0);
  }
}
@keyframes text {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-160%, 0);
  }
}
.animated-header .row .text .white {
  font: 500 12px/15.6px var(--font-family);
  color: #fff;
}
.animated-header .row .text .green {
  color: #32AD13;
  font: 500 12px/15.6px var(--font-family);
}
.animated-header .row .text .yellow {
  color: #D7B27B;
  font: 500 13px/13px var(--font-family);
}
.animated-header .row .text .red {
  color: #AC4747;
  font: 500 12px/15.6px var(--font-family);
}
.animated-header .row .text .gray {
  color: #1F1E1C;
  font: 500 14px/15.6px var(--font-family);
}

.container {
  width: min(1380px, 100%);
  margin: auto;
}

header {
  width: 100%;
  height: 80px;
  background-color: #333230;
  border-bottom: 1px solid #333230;
}
header .clip {
  width: 100%;
  background-color: #1F1E1C;
  height: 100%;
  border-radius: 50px 50px 0 0;
}
header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a.logo {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}
header a.logo span {
  font: 400 18px "Mulish" !important;
}
header a.logo span:nth-of-type(2) {
  color: #fff;
}
header a.logo span:nth-of-type(3) {
  color: #D7B27B;
}
header nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul:nth-of-type(1) {
  gap: 20px;
  white-space: nowrap;
  align-items: center;
  margin-left: 40px;
}
header nav ul:nth-of-type(1) li a {
  color: #fff;
}
header nav ul:nth-of-type(2) {
  width: min(100%, 848px);
  text-align: right;
  justify-content: end;
  gap: 22px;
  align-items: center;
}
header nav ul:nth-of-type(2) .text p {
  color: #333230;
  font: 400 12px/14.4px var(--font-family);
}
header nav .dropdown {
  background-color: #333230;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}
header nav .dropdown select {
  border: none;
  border-radius: 100px;
  padding: 10px;
  background-color: #333230;
  font: 500 14px/16.8px var(--font-family);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  cursor: pointer;
}
header nav .dropdown svg {
  transform: translateX(-5px);
  stroke: #D7B27B;
}
header nav .btn {
  background: #D7B27B;
  color: #1F1E1C;
  padding: 12px 26px;
  border-radius: 100px;
  font-weight: 500;
}

section.links .container {
  display: flex;
  gap: 10px;
  padding-top: 22px;
}
section.links .container [href="/"], section.links .container span {
  color: #BAB8B4;
}
section.links .container [href="/loyal"] {
  color: #fff;
}
section.blocks h1 {
  color: #fff;
  font: 500 80px/96px var(--font-family);
}
section.blocks .big {
  display: flex;
  justify-content: space-between;
  width: min(100%, 876px);
  flex-wrap: wrap;
  background-color: #58544C;
  border-radius: 30px;
  padding: 40px;
}
section.blocks .big .text {
  font: 500 14px/16.8px var(--font-family);
  color: #BAB8B4;
}
section.blocks .big .text p {
  display: flex;
  align-items: center;
  gap: 5px;
}
section.blocks .big .text h2 {
  margin-top: 10px;
  font: 600 22px/26.4% var(--font-family);
}/*# sourceMappingURL=main.css.map */