* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-family: "TT Firs Neue";
}

:root {
  --font-family: "TT Firs Neue";
}

.theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  padding: 11.25px 10.3px 10.3px 11.25px;
  border-radius: 72.48px;
  background-color: #333230;
  position: relative;
  cursor: pointer;
}
.theme svg {
  position: relative;
  z-index: 1;
}
.theme svg path {
  transition: fill 0.3s;
}
.theme::before {
  content: "";
  position: absolute;
  background-color: #D7B27B;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  left: 0;
  transition: left 0.3s;
}
.theme.active svg:nth-of-type(1) path {
  fill: #5a5955;
}
.theme.active svg:nth-of-type(2) path {
  fill: #fff;
}
.theme.active::before {
  left: calc(100% - 40px);
}

body {
  background-color: #1F1E1C;
  overflow-x: hidden;
}
@media (prefers-scolor-scheme: dark) {
  body {
    background-color: #1F1E1C;
  }
}
body.dark {
  background-color: #1F1E1C;
}

.animated-header {
  padding-block: 8px;
  background-color: #333230;
  width: 100%;
  display: flex;
}
.animated-header .row {
  -webkit-animation: text 120s infinite linear;
          animation: text 120s infinite linear;
  display: flex;
}
.animated-header .row .text {
  display: flex;
  gap: 5px;
  padding-left: 30px;
  white-space: nowrap;
}
@-webkit-keyframes text {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-160%, 0);
  }
}
@keyframes text {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-160%, 0);
  }
}
.animated-header .row .text .white {
  font: 500 12px/15.6px var(--font-family);
  color: #fff;
}
.animated-header .row .text .green {
  color: #32AD13;
  font: 500 12px/15.6px var(--font-family);
}
.animated-header .row .text .yellow {
  color: #D7B27B;
  font: 500 13px/13px var(--font-family);
}
.animated-header .row .text .red {
  color: #AC4747;
  font: 500 12px/15.6px var(--font-family);
}
.animated-header .row .text .gray {
  color: #1F1E1C;
  font: 500 14px/15.6px var(--font-family);
}

.container {
  width: min(1782px, 100%);
  margin: auto;
}

header {
  width: 100%;
  height: 80px;
  background-color: #333230;
  border-bottom: 1px solid #333230;
}
header .clip {
  width: 100%;
  background-color: #1F1E1C;
  height: 100%;
  border-radius: 50px 50px 0 0;
}
header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a.logo {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}
header a.logo span {
  font: 400 18px "Mulish" !important;
}
header a.logo span:nth-of-type(2) {
  color: #fff;
}
header a.logo span:nth-of-type(3) {
  color: #D7B27B;
}
header nav {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul:nth-of-type(1) {
  gap: 20px;
  white-space: nowrap;
  align-items: center;
  margin-left: -160px;
}
header nav ul:nth-of-type(1) li a {
  color: #fff;
}
header nav ul:nth-of-type(2) {
  width: min(100%, 848px);
  text-align: right;
  justify-content: end;
  gap: 22px;
  align-items: center;
}
header nav ul:nth-of-type(2) .text p {
  color: #333230;
  font-size: 12px;
}
header nav .dropdown {
  background-color: #333230;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}
header nav .dropdown select {
  border: none;
  border-radius: 100px;
  padding: 10px;
  background-color: #333230;
  font: 500 14px/16.8px var(--font-family);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  cursor: pointer;
}
header nav .dropdown svg {
  transform: translateX(-5px);
  stroke: #D7B27B;
}
header nav .btn {
  background: #D7B27B;
  color: #1F1E1C;
  padding: 12px 26px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 14px;
}

section.links .container {
  display: flex;
  gap: 10px;
  padding-top: 22px;
}
section.links .container [href="/"], section.links .container span {
  color: #BAB8B4;
}
section.links .container [href="/loyal"] {
  color: #fff;
}
section.blocks .container:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-block: 20px 93px;
}
section.blocks h1 {
  color: #fff;
  font: 500 80px/96px var(--font-family);
}
section.blocks .big {
  display: flex;
  justify-content: space-between;
  width: min(100%, 876px);
  flex-wrap: wrap;
  background-color: #58544C;
  border-radius: 30px;
  padding: 40px;
}
section.blocks .big .text {
  font: 500 14px/16.8px var(--font-family);
  color: #BAB8B4;
}
section.blocks .big .text h6 {
  display: flex;
  align-items: center;
  gap: 5px;
}
section.blocks .big .text h6 span {
  font-size: 14px;
  font-weight: 400;
}
section.blocks .big .text h4 {
  margin-top: 10px;
  font: 600 22px/26.4% var(--font-family);
}
section.blocks .big .image {
  position: relative;
}
section.blocks .big .image img {
  position: relative;
  z-index: 2;
}
section.blocks .big .image .text {
  width: 159.83px;
  aspect-ratio: 1;
  background: #D7B27B;
  text-align: center;
  border-radius: 50%;
  color: #1F1E1C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -50px;
}
section.blocks .big .image .text h3 {
  font: 500 31.71px var(--font-family);
}
section.blocks .big .image .text p {
  font: 600 16.91px var(--font-family);
  width: min(100%, 91.96px);
  margin-inline: auto;
}
section.blocks .big ul li {
  color: #fff;
  display: flex;
  gap: 8px;
}
section.blocks .big ul li span:nth-of-type(2) {
  padding-top: 5px;
}
section.blocks .block-section {
  width: min(100%, 876px);
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
section.blocks .block-section .meduim {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #333230;
  border-radius: 30px;
  height: 311px;
}
section.blocks .block-section .meduim .text {
  width: min(100%, 273px);
  color: #fff;
  position: relative;
}
section.blocks .block-section .meduim .text h6 {
  display: flex;
  align-items: center;
  gap: 8px;
}
section.blocks .block-section .meduim .text h6 span {
  font: 400 14px/16.8px var(--font-family);
  white-space: nowrap;
}
section.blocks .block-section .meduim .text h4 {
  margin-top: 12px;
}
section.blocks .block-section .meduim .image {
  position: relative;
}
section.blocks .block-section .meduim .image img {
  position: relative;
  z-index: 2;
}
section.blocks .block-section .meduim .image .text {
  position: absolute;
  width: 123px;
  aspect-ratio: 1;
  background: #D7B27B;
  text-align: center;
  border-radius: 50%;
  color: #1F1E1C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -55px;
}
section.blocks .block-section .meduim .image .text h3 {
  font: 500 26.98px/32.38px var(--font-family);
}
section.blocks .block-section .meduim .image .text p {
  font: 500 14.39px/17.27px var(--font-family);
}
section.blocks .block-section .meduim a {
  color: #D7B27B;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  white-space: nowrap;
  gap: 5px;
}
section.blocks .block-section .meduim a span:nth-child(2) {
  height: 1px;
  width: 339px;
  display: block;
  background-color: #D7B27B;
}
section.blocks .block-section .small {
  width: min(100%, 423px);
  height: 262px;
  background-color: #333230;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
section.blocks .block-section .small .image {
  position: relative;
}
section.blocks .block-section .small .image .text {
  z-index: 1;
  width: 76px;
  aspect-ratio: 1;
  background-color: #D7B27B;
  text-align: center;
  color: #1F1E1C;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: -5px;
  bottom: 25px;
}
section.blocks .block-section .small .image .text h3 {
  font: 500 16px/19.2px var(--font-family);
}
section.blocks .block-section .small .image .text p {
  font: 500 10px/12px var(--font-family);
}
section.blocks .block-section .small h6 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #BAB8B4;
}
section.blocks .block-section .small h6 span {
  font-weight: 400;
  font-size: 14px;
}
section.blocks .block-section .small h4 {
  font: 500 22px/26.4px var(--font-family);
  color: #fff;
  margin-top: 12px;
}
section.blocks .block-section .small a {
  color: #D7B27B;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  bottom: 20px;
}
section.blocks .block-section .small a span:nth-child(2) {
  width: 251px;
  height: 1px;
  background-color: #D7B27B;
  display: block;
}
section.blocks .block-section .small:nth-child(3) .image .text {
  bottom: 50px;
  right: 30px;
}

footer {
  width: 100%;
  padding-block: 12px;
  background-color: #333230;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .links {
  display: flex;
  gap: 96.99px;
  align-items: center;
}
footer .container .links .text {
  display: flex;
  gap: 10px;
}
footer .container .links .text a {
  color: #fff;
}
footer .container .links .text a.display {
  display: none;
}
footer .container .links .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container .social-links {
  width: min(100%, 360px);
  display: flex;
  gap: 6px;
  justify-content: end;
}/*# sourceMappingURL=main.css.map */